#diagram {
    height: 100%;
}

tj-class {
  background-color: orange;
  display: block;
  border: solid 1px black;
  position: absolute;
  top: 50px;
  left: 50px;
  max-width: 300px;
  min-width: 100px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

tj-class>tj-name {
  padding: 8px;
  text-align: center;
  display: block;
  font-weight: bold;
}

tj-properties {
  padding: 8px;
  display: block;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

tj-property {
  display: block;
}

tj-methods {
  padding: 8px;
  display: block;
}

tj-method {
  display: block;
}

tj-type:before {
  content: ": ";
}

tj-params:before {
  content: " (";
}

tj-params:after {
  content: ")";
}

tj-body {
  display: none;
}