html {
	height: 100%;
}

body {
	font-family: sans-serif;
	height: 100%;
	padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
}

#run {
	padding: 0;
	margin: 0;
	border: 0;
}

#control {
	padding: 8px;
	border-right: 1px solid black;
}

#control button {
	width: 110px;
}

#title {
	font-style: italic;
	font-weight: bold;
	padding-bottom: 8px;
}
