#diagram {
   height:100%;
}

tj-class.application:before {
	content: "<<Applikation>>";
	font-size: 10px;
}

tj-class {
	text-align: center;
	background-color: moccasin;
	display: block;
  	border: solid 1px black;
  	position: absolute;
  	top: 50px;
  	left: 50px;
  	max-width: 300px;
  	min-width: 100px;
  	white-space: nowrap;
  	overflow-x: hidden;
  	text-overflow: ellipsis;
}

tj-class>tj-name {
	cursor: pointer; cursor: hand;
  	padding: 8px;
	display: block;
 	font-weight: bold;
}

tj-properties, tj-methods {
	padding: 6px 0;
	display: block;
	text-align: left;
}

tj-properties {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

tj-method, tj-property {
	padding: 2px 8px;
	cursor: pointer; cursor: hand;
	display: block;
}

tj-method:hover, tj-property:hover, tj-name:hover {
	background-color: SandyBrown;
} 

tj-property.static, tj-method.static, tj-method.const {
    text-decoration: underline;
}

tj-param + tj-param:before {
	content: ", ";
}

tj-type:not(:empty):before {
  content: ": ";
}

tj-params:before {
  content: " (";
}

tj-params:after {
  content: ")";
}

tj-value, tj-body, tj-doc {
  display: none;
}
.const tj-value {
  display: inline;
}

.const tj-value:before {
	content: " = ";
}

