body {
  background-color: #eee;
  margin: 40px 0 0 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-size: 15px;
  font-family: droid,arial,sans-serif;
}

#editor {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 800px;
}

.menu-title:hover {
  background-color: darkgreen;
  color: white;
}

.menu-title {
  float: left;
  padding: 20px;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  background-color: #fff;
  border: 1px solid lightgray;
  display:none;
  width:200px;
  top:55px;
  position:fixed;
  border-bottom: 0;
}


.menu > div {
    background-color: white;
    border-bottom:1px solid lightgray;
    padding:10px;
    cursor: pointer;
}

.menu > div:hover {
    background-color:gray;
    color:white;
}

tj-section-name {
   margin: 16px 32px 8px 32px;
   color: gray;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

tj-block,
tj-class,
tj-operation {
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid lightgray;
    background-color: white;
    display: block;
    margin-bottom: -1px;
    padding: 0;
}

tj-block-name,
tj-class-name,
tj-operation-signature,
tj-class-signature {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding: 8px 16px;
}

tj-block-name:after,
tj-class-name:after,
tj-operation-signature:after,
tj-class-signature:after {
  content: "\022ee";
  float: right;
  display: block;
}

tj-block-body,
tj-class-body,
tj-operation-body {
    display: none;
}

tj-block.selected,
tj-operation.selected {
    margin: 8px 0;
}

tj-block.selected > tj-block-name,
tj-operation.selected > tj-operation-signature {
    padding: 12px 32px;
    font-weight: bold;
}
    
tj-block.selected > tj-block-body,
tj-operation.selected > tj-operation-body {
    display: block;
    border-top: 1px solid lightgray;
    padding: 8px 32px;
}

tj-class.selected {
    background-color: lightgray;
    margin: 16px 0;
    padding-bottom: 12px;
    border: 0;
}
tj-class.selected > tj-class-signature {
    padding: 16px 32px;
    font-weight: bold;
}
tj-class.selected > tj-class-body {
    display: block;
}

tj-program-name {
  display: none;
}

textarea { 
    border: 0 none white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none;
    resize: none;
    width:100%;
    font-size: 12px;
}
